<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacking Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
        body {
            font: 1em/1.6 sans-serif;
            font-size: 100%;
            background-color: #f7f7f7;
        }

        h1,
        h2,
        h3 {
            line-height: 1.2;
        }

        #content {
            margin-top: 20px;
            padding: 20px;
            background: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        code.inline {
            background-color: lightgray;
            padding: 3px;
            border-radius: 5px;
        }

        .source-quote {
            display: block;
            font-weight: 300;
            font-size: 0.8em;
            margin-top: 0.5em;
        }

        details {
            padding-top: 50px;
        }

        summary {
            font-size: 2em;
            font-weight: bold;
        }

        ol.bibliography {
            counter-reset: list;
        }

        ol.bibliography>li {
            list-style: none;
            position: relative;
        }

        ol.bibliography>li:before {
            content: "[" counter(list) "]\2003";
            counter-increment: list;
            left: -40px;
            padding-right: 10px;
            position: absolute;
            text-align: right;
            width: 40px;
        }

        li+li {
            margin-top: 10px;
        }

        .italic {
            font-style: italic;
        }

        .bib-link,
        a.bib-link:link,
        a.bib-link:visited,
        a.bib-link:hover,
        a.bib-link:active,
        .bib-reference,
        .bib-reference:link,
        .bib-reference:visited,
        .bib-reference:hover,
        .bib-reference:active {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Grundlagen</h1>
        <h2>Definition</h2>
        <blockquote>
            "The essence of hacking is finding unintended or overlooked uses for the laws and properties of a given
            situation and then applying them in new and inventive ways to solve a problem - whatever it may be."
            <span class="source-quote">(Erickson, 2008, S. 1)<sup>[1]</sup></span>
        </blockquote>

        <h2>Arten von Hackern</h2>
        <ol>
            <li><b>Black-Hats/Cracker:</b> Hacker, die ohne Erlaubnis für ihre eigene Bereicherung illgal hacken.
                <sup>[2]</sup>
            </li>
            <li><b>White-Hats:</b> Hacker, die mit Erlaubnis hacken, um Schwachstellen zu finden und Angriffe abzuwehren
                bzw. die Sicherheit von Systemen zu verbessern. <sup>[2]</sup> <sup>[3]</sup></li>
            <li><b>Grey-Hats:</b> Hacker, die zwar ohne Erlaubnis aber aus ethischen Gründen hacken. <sup>[2]</sup></li>
            <li><b>Hacktivisten:</b> Hacker, die aus politischer Motivation hacken, um Aufmerksamkeit zu erlangen.
                <sup>[3]</sup>
            </li>
            <li><b>State-sponsored Hacker:</b> Hacker, die im Auftrag von Staaten oder Regierungen hacken.
                <sup>[3]</sup>
            </li>
            <li><b>Script-Kiddies:</b> Kriminelle, die nicht über die notwendigen Kenntnisse verfügen und lediglich die
                Werkzeuge von qualifizierten Hackern benutzen. <sup>[3]</sup></li>
        </ol>

        <h2>Angriffsformen</h2>
        <p>Angriffe lassen sich nach ihrem Zweck unterteilen:</p>
        <ul>
            <li>Angriffe auf die <b>Vertraulichkeit:</b> Erlangen von Zugang zu vertraulichen Informationen</li>
            <li>Angriffe auf die <b>Integrität:</b> Veränderung von Daten und Softwaresystemen</li>
            <li>Angriffe auf die <b>Verfügbarkeit:</b> "Störung des Betriebes von Informationssystemen [...]" (BSI,
                2022, S. 29)</li>
        </ul>
        <sup>[4]</sup>

        <h1>Funktionsweise</h1>

        <h2>Angriffsphasen</h2>
        <p>Ein Angriff lässt sich in drei Phasen unterteilen:</p>
        <ol>
            <li><b>Vulnerability:</b> Finden einer Schwachstelle in Softwaresystemen oder einer Organisation</li>
            <li><b>Exploit:</b> Ausnutzen der gefundenen Schwachstelle</li>
            <li><b>Payload:</b> Ausführen von Schadprogrammen oder Zugriff und Download von Daten</li>
        </ol>
        <sup>[5]</sup>

        <h2>Angriffsmethoden</h2>

        <h3>Physische Angrifffe</h3>
        <p>Bei physischen Angriffen verschaffen sich Angreifer physischen Zugang zu der Hardware und den Gebäuden des
            Zieles. Dies ermöglicht zum Einen die Zerstörung oder den Diebstahl der Hardware.<sup>[6]</sup>
            Zum Anderen aber auch "dumpster jumping". Dabei wird der Müll nach vertraulichen Informationen wie
            Passwörtern durchsucht.<sup>[7]</sup></p>

        <h3>Social Engineering</h3>
        <p>Beim Social Engineering wird der Mensch als Schwachstelle ausgenutzt. Dabei nutzen Angreifer menschliche
            Eigenschaften, wie Vertrauen, Neugier, Angst oder Gier aus, um einen Nutzer dazu zu bewegen eine bestimmte
            Aktion auszuführen oder Informationen preiszugeben. Oft wird ein zusätzlicher Druck aufgebaut und zum
            Beispiel sehr knappe Fristen gesetzt. All dies zielt auf die psychologische Beeinflussung der Nutzer ab,
            sodass diesen erschwert wird genau über die Nachricht nachzudenken. Social Engineering kann per Telefon,
            E-Mail, oder auch in Person durchgeführt werden.</p>
        <p>Die bekannteste Form von Social Engineering ist Phishing. Dabei wird ein Nutzer in einer E-Mail dazu
            verleitet eine Webseite zu öffnen (und dort Informationen, wie Zugangsdaten einzugeben) oder einen Anhang zu
            öffnen. Beim Spear-Phishing handelt es sich um gezielte Phishing-Angriffen, wo individuelle Informationen in
            die Nachricht eingebaut werden. Dies erhöht die Authentizität deutlich.<sup>[6]</sup></p>

        <h3>Technische Angriffe</h3>
        <h4>Cross-Site-Scripting (XSS)</h4>
        <p>Beim Cross-Site-Scripting wird "[...] Code aus einem wenig vertrauenswürdingen Kontext in einen
            vertrauenswürdigen Kontext übertragen [...]" (Krebschull, 2023, S. 73). Dabei handelt es sich meist um
            JavaScript-Code, der in Eingabefeldern eingegeben, vom Server gespeichert und beim Aufruf der Webseite auf
            den Clientrechner anderer Nutzer übertragen wird. Wird die Nutzereingabe nicht richtig behandelt kann es zur
            Ausführung des JavaScript-Codes auf den Clientrechnern anderer Nutzer kommen. Dadurch lassen sich Cookies
            auslesen oder modifizieren, Webseiteninhalte modifizieren oder Phishingangriffe realisieren.<sup>[3]</sup>
        </p>

        <h4>SQL-Injection</h4>
        <p>Bei SQL-Injections wird in Benutzereingaben SQL-Code eingeschleust, um die Datenbankabfrage, welche die
            Benutzereingabe verwendet zu verändern oder eigene Befehle auszuführen. Dies ist dann möglich, wenn die die
            Datenbankabfrage als Konkatenation von String-Variablen implementiert ist und die Benutzereingabe ohne
            Überprüfung eingefügt wird.</p>
        <p>Um in diesem Fall SQL-Code einzuschleusen, muss zunächst die Benutzereingabe bei zum Beispiel einem String
            mit <code class="inline">'</code> geschlossen werden. Anschließend kann der Befehl durch zum Beispiel
            zusätzliche
            Bedingungen
            erweitert werden oder mit <code class="inline">;</code> abgeschlossen werden und ein weiterer Befehl
            angehangen werden. Zum
            Schluss
            muss mit dem Kommentarsymbol <code class="inline">--</code> die nachfolgenden Zeichen ignoriert werden, um
            einen validen
            SQL-Befehl zu
            konstruieren.</p>
        <pre><code class="language-sql">
            -- Diese Anfrage gibt alle Elemente mit einem bestimmten Namen zurück<br>
            SELECT * FROM table WHERE name = '&lt;input&gt;';<br>

            -- Durch Eingabe von "'; DROP TABLE table; --" kann die Tabelle gelöscht werden
            SELECT * FROM table WHERE id = ''; DROP TABLE table; --';
        </code></pre>
        <p>Dadurch können Angreifer nicht nur <code class="inline">SELECT</code>-Abfragen verändern oder mit <code
                class="inline">SELECT</code>, <code class="inline">UPDATE</code> und <code class="inline">DELETE</code>
            Daten
            verändern und löschen, sondern im schlimmsten Fall auch neue Benutzer anlegen und Passwörter
            ändern.<sup>[3]</sup></p>

        <h4>Schadsoftware</h4>
        <p>"Schadsoftware ist ein Oberbegriff für sämtliche Software, die (aus Sicht des Anwenders) unerwünschte
            Aktionen ausführt, und damit dem Anwender bzw seinen Informationen oder seinem System schadet" (Beißel,
            2019, S. 30). Schadsoftware kann dabei zunächst nach Art der Verbreitung unterschieden werden:</p>
        <ul>
            <li><b>Viren:</b> Schadsoftware, die erst bei Ausführung aktiv wird</li>
            <li><b>Würmer:</b> Schadsoftware, die selbstständig aktiv wird und sich auch selbstständig verbreitet</li>
            <li><b>Trojaner:</b> Schadsoftware, die in scheinbar unschädlichen Programmen versteckt werden</li>
        </ul>
        <p>Zudem kann man Schadsoftware nach ihrem Zweck unterteilen:</p>
        <ul>
            <li><b>Ransomeware:</b> Schadsoftware, die Dateien verschlüsselt und für deren Freigabe ein Lösegeld
                verlangt wird</li>
            <li><b>Spyware:</b> Schadsoftware, die das Nutzerverhalten aufzeichnet</li>
            <li><b>Grayware:</b> Schadsoftware, die unnötige Rechenleistung beansprucht</li>
        </ul>
        <sup>[6]</sup>

        <h4>Denial-of-Service-Attacken</h4>
        <p>Denial-of-Service-Attacken (DoS) greifen die Verfügbarkeit eines Systems an und versuchen einen Dienst zu
            überlasten und damit die Funktionsfähigkeit eines Dienstes einzuschränken. DoS-Attacken werden für
            Erpressung verwendet, können aber auch politisch oder aktivistisch motiviert sein.</p>
        <p>Bei einer DoS-Attacke wird der angegriffene Webserver mit vielen Anfragen zum Überlaufen gebracht, sodass
            normale Anfragen nur noch sehr langsam oder gar nicht mehr verarbeitet werden können.
            Werden diese Anfragen von mehreren Geräten gleichzeitig gesendet, wird dies als
            Distributed-Denial-of-Service-Attacke (DDoS) bezeichnet.<sup>[3]</sup></p>

        <details>
            <summary>Quellen</summary>
            <ol class="bibliography">
                <li class="bib-element" id="bib-element-1">
                    Erickson, J. (2008).<br>
                    <span class="italic">Hacking: The Art of Exploitation</span> (2. Aufl.). No Starch Press.
                </li>
                <li class="bib-element" id="bib-element-2">
                    Conrad, S. (2016).<br>
                    <span class="italic">Sind alle Hacker Kriminelle?</span>. Emsisoft.<br>
                    Abgerufen am 04.03.2025 von
                    <a class="bib-link"
                        href="https://www.emsisoft.com/de/blog/23442/sind-alle-hacker-kriminelle/">https://www.emsisoft.com/de/blog/23442/sind-alle-hacker-kriminelle/</a>
                </li>
                <li class="bib-element" id="bib-element-3">
                    Krebschull, U. (2023).<br>
                    <span class="italic">Computer Hacking: Eine Einführung zur Verbesserung der Computersicherheit in
                        komplexen IT-Infrastrukturen</span>. Springer.<br>
                    <a href="https://doi.org/10.1007/978-3-662-67030-9"
                        class="bib-link">https://doi.org/10.1007/978-3-662-67030-9</a>
                </li>
                <li class="bib-element" id="bib-element-4">
                    <span class="italic">Leitfaden zur Reaktion auf IT-Sicherheitsvorfälle für Vorfall-Praktiker und
                        Vorfall-Experten</span>. (2022). Bundesamt für Sicherheit in der Informationstechnik.<br>
                    Abgerufen am 04.03.2025 von <a
                        href="https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/CSN/Leitfaden_VP_VE.pdf?__blob=publicationFile&v=21"
                        class="bib-link">https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/CSN/Leitfaden_VP_VE.pdf?__blob=publicationFile&v=21</a>
                </li>
                <li class="bib-element" id="bib-element-5">
                    Neumann, L. (2019).<br>
                    <span class="italic">Wie Hacker hacken (und möglichst nicht mich)</span>. TINCON.<br>
                    Abgerufen am 04.03.2025 von <a
                        href="https://tincon.org/event/berlin19/wie-hacker-hacken-und-mich-moeglichst-nicht"
                        class="bib-link">https://tincon.org/event/berlin19/wie-hacker-hacken-und-mich-moeglichst-nicht</a>
                </li>
                <li class="bib-element" id="bib-element-6">
                    Beißel, S. (2019).<br>
                    <span class="italic">Security Awareness: Grundlagen, Maßnahmen und Programme für die
                        Informationssicherheit</span>. De Gruyter Oldenbourg.<br>
                    <a href="https://doi.org/10.1515/9783110668261"
                        class="bib-link">https://doi.org/10.1515/9783110668261</a>
                </li>
                <li class="bib-element" id="bib-element-7">
                    Kumar, S. & Agarwal, D. (2018).<br>
                    <span class="italic">Hacking Attacks, Methods, Techniques And Their Protection Measures.
                        International Journal of Advance Research in Computer Science and Management</span>.<br>
                    Abgerufen am 04.03.2025 von <a href="https://www.researchgate.net/profile/Sunil-Kumar-310/publication/324860675_Hacking_Attacks_Methods_Techniques_And_Their_Protection_Measures/links/5ae7ea5ca6fdcc03cd8dbf8f/Hacking-Attacks-Methods-Techniques-And-Their-Protection-Measures.pdf
                    " class="bib-link">https://www.researchgate.net/profile/Sunil-Kumar-310/publication/324860675_Hacking_Attacks_Methods_Techniques_And_Their_Protection_Measures/links/5ae7ea5ca6fdcc03cd8dbf8f/Hacking-Attacks-Methods-Techniques-And-Their-Protection-Measures.pdf
                    </a>
                </li>
            </ol>
        </details>
    </div>
</body>

</html>